/* CSS written by Lorenzo Whittley */

/* GLOBAL STYLES (MOBILE FIRST) */
body {
    background-color:papayawhip;
    display:grid;
    grid-template-columns:1fr;

}
header, nav, footer {
  grid-column:1/3;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 5em;
    text-align:center;
    color:darkslategray;
    }
nav ul {
    display:flex;
    justify-content:space-evenly;
    list-style:none;
}
nav a {
    text-decoration:none;
    background-color:lightgray;
    padding:.05rem .20rem;
    color:slategray;
    font-size:1.25em;
    font-weight:bold;
    text-transform:uppercase;   
}
nav a:hover {
  background-color:slategray;
  color:lightgray;
}
.card-row {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  background-color:darkslategray;
  padding:1rem;
}
.card-row > section {
  flex:1 1 600px;
  background-color:papayawhip;
  padding:.5rem;
}
footer {
  display:block;
  text-align:center;
}
@media screen and (min-width:600px) {
    body {
        grid-template-columns: 1 1fr;
        background-color:papayawhip;
    }
    .card-row {
        display:flex;
        flex-wrap:wrap;
        gap:10rem;
        background-color:darkslategray;
        padding:1rem;
    }
    .container {
        display:flex;
        justify-content:center;
        align-items:center;
    }
}
@media screen and (min-width:1024px) {
    body {
        grid-template-columns: 1 1fr 1f;
        background-color:papayawhip;
    }
    .card-row {
        display:flex;
        flex-wrap:wrap;
        gap:10rem;
        background-color:darkslategray;
        padding:1rem;
    }
    .container {
        display:flex;
        justify-content:center;
        align-items:center;
    }
}