/* CSS written by Lorenzo Whittley */

/* GLOBAL STYLES (MOBILE FIRST) */
body {
    display:grid;
    grid-template-columns:1fr;
    background-color:papayawhip;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 5em;
    text-align:center;
    color:darkslategray;
    }
nav ul {
    display:flex;
    justify-content:space-evenly;
    list-style:none;
}
nav a {
    text-decoration:none;
    background-color:lightgray;
    padding:.1rem .75rem;
    color:slategray;
    font-size:1.25em;
    font-weight:bold;
    text-transform:uppercase;   
}
@media screen and (min-width:600px) {
    body {
        grid-template-columns: 1fr 1fr;
        background-color:papayawhip;
    }
}
@media screen and (min-width:1024px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
        background-color:papayawhip;
    }
}
