/* CSS written by Lorenzo Whittley */

/* GLOBAL STYLES (MOBILE FIRST) */
body {
    display:grid;
    grid-template-columns:1fr;
    background-color:grey;
}
@media screen and (min-width: 600px) {
    body {
        grid-template-columns: 1fr 1fr;
        background-color:violet;
    }
}
@media screen and (min-width: 1024px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
        background-color:lightblue;
    }
}